.about {
    width: 100%;
    margin: 3rem;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.about .left {
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 500px;
}

.about .left p {
    margin: 1.2rem 0;
    line-height: 1.8rem;
    text-align: justify;
}

.about .right {
    max-width: 700px;
}

.right .img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    align-items: center;
    text-align: center;
}
