.blog {
  width: 100%;
  padding: 6rem 1rem;
  background: black;
  text-align: center;
}

.card-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.card {
  border: 1px solid aliceblue;
  color: aliceblue;
  text-align: center;
  padding: 5rem;
}

.card:hover {
  background-color: #041a22;
}

.card h3 {
  font-size: 1.4rem;
  padding: 1rem;
}

.card p {
  padding: 10px 0;
}

.bar {
  border-bottom: 1px solid aliceblue;
  width: 50%;
  margin: 1.5rem auto;
  display: block;
}

.card .btn {
  display: block;
  width: 80%;
  margin: 2rem auto;
}

@media screen and (max-width: 740px) {
  .card-container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }
}
